.pop-up-container{
    position: fixed;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    background-color: rgb(202, 202, 202, 0.7);
    padding-top: 15%;
}

.pop-up-body{
    width: fit-content;
    height: fit-content;
    margin: auto;
    
    background: var(--primary-color);
    
}

.pop-up-header{
    width: 90%;
    text-align: right;
    padding: 0;
}

.text-line {
    line-height: 1.6;
}

.modalbtn{
    font-size: 1.2rem;
    width: 1.2rem;
    background-color: var(--accent-color-dark);
    margin-top: 2rem;
}

.pop-up-card{
    font-size: 20px;
    text-align: center; 
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.pop-up-input{
    margin-top: 15%;
}