
.admin-container{
    text-align: center;
    display: block;    
    background-color: rgb(216, 222, 226);
    height: 3rem;
}

.project-header{
    text-align:center;
    
    
}

.admin-form{
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    border-radius: 0.3rem;
    
}

.admin-button{
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}


.project-page {
    background-color: aliceblue;
    min-height: 50vh;
}
.table-container-report{
    margin: 2rem;
    
}

.table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;    
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  }
  
  .th, .td {
    padding: 8px;
    text-align: left;

  }
  .project-total-line{
    font-size: 1.2rem;
    line-height: 2;
    background-color: rgb(216, 222, 226); 
    font-weight: bold;
    border: 1px solid lightgray;
  }
  
  .tr:hover {background-color: var(--primary-color)}

.project-name{
    margin-top: 1rem;
}

/*table*/


.table-head {
    text-align: left;
    font-size: 1.2rem;
    padding: 8px;
    background-color: rgb(216, 222, 226);
    line-height: 2;
    border: 1px solid lightgray;
    border-collapse: collapse;
    
}

.project-line {
    
    font-size: 1.2rem;
    line-height: 2;
    background-color: aliceblue;   
    border: 1px solid lightgray;
    

}



.project-date{
    margin-top: 1rem;
}

  @media screen and (max-width: 960px) {

    .admin-form{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 0.5rem;
    }

    .table-container-report{
        margin: 1rem;
        
    }
    .th, .td {
        padding: 4px;
    }

    .table-head {
        text-align: left;
        font-size: 0.9rem;
        padding: 4px;
        background-color: rgb(216, 222, 226);
        line-height: 2.5;
        border-bottom: 1px solid lightgray;
        
    }
    
    .project-line {
        
        font-size: 0.9rem;
        line-height: 2.5;
        background-color: aliceblue;   
        
    
    }
    .project-total-line{
        font-size: 0.9rem;
        line-height: 2.5;
        background-color: rgb(216, 222, 226); 
        font-weight: bold;
      }

  }
