
.home-section {
    display: grid;
    grid-template-areas: "a a a"
                         "b c c" 
                         "b c c";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10rem auto auto;
    align-content:center;
    gap: 2rem;
}

.header {
    grid-area: a;
    background: url(/Images/header_1.png) center center/cover no-repeat;
    border-radius: 50px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.header-h1 {
    padding: 0 3rem;
    text-align: center;
    justify-items: center;
    margin-top: 2.6rem;
    color: var(--white-color);
}

.report-container{
    display: inline-flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 50px;
    
    grid-area: c;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow1)
    
}

.left-container {
    border-radius: 50px;
    
    margin-left: 2rem;
    margin-bottom: 2rem;
    grid-area: b;
    box-shadow:  var(--box-shadow1)
}

.report-card{
      
    margin-top: 3%;
    background-color: var(--primary-color);
    border: 0.1rem solid var(--accent-color);
    padding: 1rem;
    border-radius: 15px;
    
    
}
 li{
    
    display: inline;
    padding: 0.7rem;
    
}
