
.home-section {
    background-color: aliceblue;
    display: grid;
    grid-template-areas: "b b b" 
                         "c c c";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    align-content:center;
    height: 100vh;
    
}

.header {
    grid-area: a;    
    background-color: var(--primary-color);
   
    border-radius: 50px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.header-h1 {
    padding: 0 3rem;
    text-align: center;
    justify-items: center;
    margin-top: 2.6rem;
    color: var(--font-color);
}

.report-header{
    
}
{/* TABLE*/}

.table-head {
    text-align: left;
    font-size: 1.2rem;
    background-color: rgb(255, 214, 160);
    line-height: 2;
}

.project-line {
    border-bottom: 1px solid lightgray;
    font-size: 1.2rem;
    line-height: 2;
    background-color: rgb(255, 241, 223);
    border: none;

}

.project-line:nth-child(even) {
    background-color: bisque;
}

.fa-plus {
    transition: transform 0.5s ease-in-out;
}
.fa-plus:hover {
    
    
    transform: scale(130%);
    
}

.link {
    text-decoration: none;
    color: black;
}


.report-container{

    margin: 2rem;
    display: inline-flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 50px;
    
    grid-area: c;
    
    
    
}

.report-card{
      
    margin-top: 0.5rem;
    border-bottom: 2px dotted var(--accent-color-dark);
    border-left: 2px dotted var(--accent-color-dark);   
    padding: 1rem;
    /* transition: transform 0.5s ease-in-out; */
    
    
    
}

.report-card:hover {
    background-color: var(--primary-color);
    
    
    
    
}

.report-lines{
    
    display: inline;
    padding: 0.7rem;
    
}

.project-container {
    
    margin: 2rem;
    padding: 2rem;
    
    grid-area: b;
    border-bottom: 1px dotted var(--accent-color-light)
   
}



.project-grid {
    display: grid;
    grid-template-columns: auto;

}
.project-card {
    margin-bottom: 0.9rem;
    
    padding: 1rem;
    
    border-top: 2px dotted var(--accent-color-dark);
    border-left: 2px dotted var(--accent-color-dark);
    
}

.project-first-line {
    
    padding: 0;
    margin-bottom: 0.4rem;
    
    
}

.project-second-line {
    
}

.project-lines {
    list-style: none;
    display: inline;
}

.red {
    background-color: rgb(248, 116, 116);
}

.yellow {
    background-color: rgb(255, 255, 164);
}

.green {
    background-color: rgb(124, 245, 124);
}
 

