html {
  
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color:rgb(255, 177, 177);
}

li, ul {
  text-decoration: none;
  padding-left: 0;
}

li {
  
  padding: 10px;
  background-color:rgb(255, 177, 177);
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
  border-radius: 20px;
}
.report-card {
  
  margin-bottom: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 90%;
  font-size: 19px;
  border-radius: 50px;
  margin-top: 10px;
  background-color:rgb(255, 177, 177);
  
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
  -8px -8px 18px 0 rgba(255, 255, 255, 0.5);
  padding: 1rem;
  margin-bottom: 3rem;
}

ul{
  list-style-type: none;
  }

.container{
  background-color:rgb(255, 177, 177);
  font-size: 19px;
  display:grid;
  float:left;
  position: relative;
  margin-left: 45%;
  max-width: 25%;
}
button{
  background-color:rgb(255, 177, 177);
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
  -8px -8px 18px 0 rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: none;
}

.input{
  margin-top: 6%;
}

.link{
  font-size: 20px;
  display: grid;
  color: black;
}